.name{
}
.name .form label{
    width: 100%;
    font-size: 1.3rem;
    z-index: 100000;
    position: relative;
    left: 10%;
    top: 10px;
    background-color: #ffffff;
}
.name .form input{
    position: relative;
    right: 10px;
    bottom: 20px;
    
    height: 50px;
    width: 86%;
    z-index: -1;
    
}


/* 入力エラーが出たときの文字のcss */
.name .error label[for="name"]{
    font-size: 1rem;
    color: red;
    padding: none;
    background-color: #ffffff;
}