.container{
    width: 100%;
    height: 100%;
    margin: 0 0 75px 0;
    background-color: #f6f6f6;
}
.box div{
    display:flex;
}
.event{
    display: flex;
    justify-content: space-evenly;    
}
.service_card{
    width: 50%;
    height: 100px;
    background-color: #fff;
}
.info_card{
    width: 50%;
    height: 100px;
    background-color: #fff;
}
.footer{

}