.nav{
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}