/* 共通 */
.Container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.subTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 70px auto 0px auto; */
}

.subTitle > p{
    font-size: 10px;
}

.Container > p{
    display: flex;
    font-size: 10px;
}

.Container > .underLine{
    text-decoration: solid!important;
}

.Container > h1{
    margin: 0;
}


/* 会員登録 */

/* 全体のコンテナ― */
.loginFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
}

/* 入力エリア */
.loginFormContainer > .mailForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border: solid 1px #dddddd;
    border-radius: 8px;
    background: white;
}

.loginFormContainer > .passwordForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border: solid 1px #dddddd;
    border-radius: 8px;
    background: white;
}

/* パスワード忘れた人 */
.passwordForget{
    font-size: 10px;
    position: relative;
    left: 100px;
}

/* 新規会員登録リンク */
.signUp{
    display: flex;
    justify-content: center;
}

.signUp > p{
    font-size: 10px;
}


/* パスワードリセット */
.passwordResetContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.passwordReset{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border: solid 1px #dddddd;
    border-radius: 8px;
    background: white;
}