.button {
  font-size: 1.2rem;
  background: #23ABDD;
  border-radius: 50px;
  color: #fff;
  width: 100vw;
  /* margin: 0 0 0 10%; */
  padding: 10px 0;
  height: 50px;
  max-width: 360px;
  border: none;
}
