/* 共通 */
.Container{
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.subTitle{
    display: flex;
    justify-content: center;
    /* margin: 70px auto 0px auto; */
}

.Container > p{
    display: flex;
    font-size: 12px;
}

.Container > .underLine{
    text-decoration: underline!important;
}

.Container > h1{
    margin: 0;
}


/* 会員登録 */

/* 全体のコンテナ― */
.loginFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}

.loginFormContainer > *{
}

/* 入力エリア */
.loginFormContainer > .mailForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border-radius: 10px;
    /* background: white; */
}

.loginFormContainer > .passwordForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border-radius: 10px;
    /* background: white; */
}