/* 共通 */
.Container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
}

.subTitle{
    display: flex;
    justify-content: center;
    /* margin: 70px auto 0px auto; */
}

.Container > p{
    color: red;
}


/* 会員登録 */

/* 全体のコンテナ― */
.loginFormContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}

/* 入力エリア */
.loginFormContainer > .mailForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border-radius: 10px;
}

.loginFormContainer > .passwordForm{
    width: 80%;
    height: 48px;
    max-width: 333px;
    border-radius: 10px;
}