.container {
  background: #f6f6f6;
  width: 100%;
  height: 100vh;
}
.login_box{
    padding: 10px;
}
.name {
    margin: 10px 0 30px 0;
}
.loginbutton {
  text-align: center;
}
.sama {
  font-size: 16px;
}
.guide {
  font-size: 1rem;
  padding-top: 25px;
  padding-left: 15px;
}
.guidelink {
  display: flex;
  background-color: #ffffff;
  border: 0.5px dotted rgb(219, 218, 218);
  height: 60px;
}
.guidelink .date {
  font-size: small;
  float: left;
  padding-left: 15px;
}
.guidelink .category {
  color: red;
  font-size: small;
  padding-left: 20px;
  float: left;
}
.guidelink .title {
  padding-left: 15px;
}
.SupportTitle {
  padding-left: 15px;
  background-color: #ffffff;
  border-top: 1px dotted #bbb;
  border-bottom: 1px dotted #bbb;
}
.title span{
    display: inline-block;
}