#box{
    width: 100vw;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
#screen{
    width: 77vw;
    position: absolute;
    top: 0.8vh;
    left: 2vw;
}
#screen_on{
    background-color: #fff;
    width: 986px;
    height: 708px;
    margin: 6px 0px 0 25px;
    border-radius: 12px;
}
#side{
    display: flex;
    width: 21%;
    flex-direction: column;
}
#coin{
    display: flex;
    justify-content: center;
    padding: -10px;
}
.coin_info{
    position: relative;
    bottom:15px;
}