@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.screen{
        box-sizing: border-box;
        min-width: 112px;
        padding: 0 30px;
        height: 53px;
        background: #4CB8F4;
        border: 2px solid #666666;
        box-shadow: inset 2px 2.5px 2px rgb(255 255 255 / 65%), inset -2px -1.5px 2px rgb(0 0 0 / 25%);
        border-radius: 58px;
        color: white;
        /* font-weight: bold; */
        font-size: 15px;
        font-weight: bold;
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: 3px;
        padding-bottom: 4px;
}

.nav{
        /* Rectangle 143 */
        box-sizing: border-box;
        position: absolute;
        width: 125px;
        height: 62px;
        left: 90%;
        top: 101%;
        font-weight: bold;
        background: #FFA262;
        border: 2px solid #777;
        box-shadow: inset 2px 2.5px 2px rgb(255 255 255 / 65%), inset -2px -1.5px 2px rgb(0 0 0 / 25%);
        border-radius: 58px;
        color: white;
        font-size: 16px;
        letter-spacing: 4px;
        font-family: 'Noto Sans JP', sans-serif;
    
}