#wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
#case_view{
    width: 50%;
    height: 100%;
    display: inline-block;
    margin: 0;
}

#case_edit{
    width: 50%;
    height: 100%;
    background-color: #fff;
}
#case_edit h1{
    background: #666;
    color: #FFFFFF;
    height: 70px;
    margin:0;
    padding: 20px 0 0 0;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
}
#case_edit p{
    text-align: center;
    background-color: #F1F1F1;
    position: relative;
    bottom: 70px;
    padding: 20px 0;
}
#case_edit input{
    display: none;
}
.tryangle{
    position: relative;
    text-align: center;
    bottom: 25px;
    z-index: 2;
}
.color_select{

}

.color_select label{
    display: inline-block;
    width: 150px;
    height: 90px;
    border: 1px solid #AAAAAA;
    border-radius: 6px;
}

.type{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 160px;
}
.type_name{
    position: relative;
    bottom: 20px;
}
.list{
    position: relative;
    bottom: 85px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 70px;
    padding: 20px 0 0 30px;
}
.list label{
    font-size: 1.3rem;
}

.design{
    width:400px; 
    height:541px;
    position: absolute;
    top: 0px;
    left: 30px;
}

.product_info{
    display: inline-block;
}

.draw_edit_box{
    width: 100%;
    height: 83%;
    display: flex;    
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}
.tool_box{
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 17px;
    width: 50%;
    height: 80%;
}
.color_frame:first-child{
    margin-top: 32px;
}
.color_frame{
    position: relative;
    width: 100%;
    height: 25%;
}
.serv_guide{
    width: 30%;
    background-color: transparent!important;
    margin: 0 auto!important;
    padding: 0!important;
    bottom: 0!important;
}
.weight{
    display:none
}
.label{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid #777 ;

}

.weight:checked + .label {
    background-color: pink;
}
.color_trigger{
    width: 100px;
    height: 7px;
    background:#777;
    border-radius: 10px;
    margin:  10px 0 0 33px;
}
.pencil_select_img{
    left: 0;
    height: 50px;
    margin-top: -13px;
    width: 135px;


}
.color_pallet{
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 17px 0 0 17px;
    width: 10%;
    height: 65%;
    position: absolute;
    top: 120px;
    right:  0px;
    display: grid;
    grid-template-columns: repeat( 2 , 1fr);
}
.color_category{
    height: 10%;
    width: 15%;
    padding-left: 5px;
    margin-left: 12px;
    border-radius: 50%;
    position: relative;
}
.color_category input{
    display: none;
}
.button{
    position: absolute;
    bottom: 25px;
    right: 25px;
}
/* .nextbutton{
    position: relative;
    left: 150px;
    top: -30px;    
} */

.color_view{
    height: 25px;
    width: 60px;
    margin: 0 0 10px 0;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}
.step3button{

}

.product_info{
    position: relative;
    vertical-align: top;
    top: 68px;
}
.productDesc{
    position: relative;
    left: 50%;
    bottom: 50%;
    line-height: 5px;
}

.productName{
}

.productColor{
    color: #888888;
}
.price{
    position: relative;
    left: 50%;
    bottom: 50%;
    font-weight: 400;
    line-height: 100px;
    font-weight: normal;
}

.choseQuantity{
    
    position: relative;
    left: 50%;
    bottom: 50%;
    font-weight: 400;
    line-height: 100px;
}

.count{
    display: inline-block;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color:#999;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    font-size: 42px;
}

.quantity{
    border:#999 solid;
    display: inline-block;
    width: 126px;
    height: 65px;
    text-align: center;
    border-radius: 89px;
    font-size: 42px;
}