#wrap{
    position: relative;
    z-index: 1000;
    top: 150px;
}
.block{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: blue;
}
.write{
    display: block;
    float: left;
    background-color: aqua;
}
.money{
    display: block;
    float: left;
    background-color: violet;
    font-size: 100px;
}
.en{
    display: block;
    float: left;
    background-color: aquamarine;
}