#wrap{
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    z-index: 1000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* top: 150px; */
}
.block1{
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* top: 50%;
    left: 35%; */
}
.block2{
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* top: 50%;
    left: 35%; */
}
.block{
    display: flex;
    align-items: center;
    /* position: absolute; */
    /* top: 50%;
    left: 35%; */
}
.write{
    /* display: block;
    float: left; */
    background-color: aqua;
}
.money{
    /* display: block;
    float: left; */
    background-color: violet;
    font-size: 100px;
}
.en{
    /* display: block;
    float: left; */
    background-color: aquamarine;
}