@charset "UTF-8";
/* * {
  margin: 0px;
  padding: 0px;
} */

/* 1280 × 720 */

#wrap {
  width: 1000px;
  height: 90vh;
  margin: 0 auto 0 auto;
  /*box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);*/
  /*padding: 20px;*/
}

/*==================================================
サービス選択
===================================*/

.Container{
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: space-evenly;
}

.cards{
  width: 260px;
  height: 100%;
  /* height: 220px; */
  box-shadow: 0 2px 5px #ccc;
}

.content > p{
  color: #777;
  font-size: 13px;
  margin: 0 16px;
  /* margin-bottom: 0.2em; */
  overflow: hidden;
  word-break: break-word;
}

.content > h3 {
  color: #333;
  font-size: 17px;
  margin: 0 16px;
  padding-bottom: 5px;
}

.cardImg{
  margin: 0 auto;
  border-radius: 10px;
}

#cardbox {
  width: 1000px;
  margin: 20px auto 0 auto;
  /* position: relative; */
  top: 0;
  left: 0;
  z-index: 99;
}

.card {
  width: 300px;
  height: 230px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  display: inline-block;
  margin: 0 13px;
}

.images {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background: #ddd;
}

.content {
  width: 100%;
  height: 50%;
}



.content p {
  color: #777;
  font-size: 14px;
  margin: 0 16px;
  /* margin-bottom: 0.2em; */
  overflow: hidden;
  word-break: break-word;
}