    /*==================================================
    スライダーのためのcss
    ===================================*/

    #SliderContainer > *{
        max-width: 510px;
        margin: 0 auto;
    }

    /* ボタンの位置 */
    .prevContainer{
        position: relative;
        display: inline;
        top: 134px;
        left: 0px;
        z-index: 99;
    }

    .nextContainer{
        position: relative;
        display: inline;
        bottom: 134px;
        left: 480px;
    }


    .prevBtn,
    .nextBtn{
        width: 2em;
        height: 2em;
        cursor: pointer;
        background: transparent;
        border: none;
    }

    /* 矢印共通のスタイル */
    .prevBtn span:nth-child(1),
    .prevBtn span:nth-child(3),
    .nextBtn span:nth-child(1),
    .nextBtn span:nth-child(3){
        display: block;
        border: 3px #AAA solid;
        width: 14px;
        position: relative;
        border-radius: 6px;
        background-color: #AAA;
    }

    /* 戻るボタン 上辺調整 */
    .prevBtn span:nth-child(1){
        transform: rotate(135deg);
        left: -3px;
    }

    /* 戻るボタン 下辺調整 */
    .prevBtn span:nth-child(3){
        transform: rotate(45deg);
        left: -3px;
    }

    /* 次へボタン　上辺調整 */
    .nextBtn span:nth-child(1){
        transform: rotate(-135deg);
        left: -3px;
    }

    /* 次へボタン　下辺調整 */
    .nextBtn span:nth-child(3){
        transform: rotate(-45deg);
        left: -3px;
    }