    /*==================================================
    スライダーのためのcss
    ===================================*/

    #SliderContainer > *{
        max-width: 510px;
        margin: 0 auto;
    }

    .slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
        width: 94%;
        margin: 20px auto 0 auto;
    }

    .slider{
        width: 60%; /*スライダー内の画像を横幅100%に*/
        height: auto;
        margin: 0 auto 0 auto;
        border-radius: 15px;
    }
    
    /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
    .slider .slick-slide {
        margin: 0 10px;
    }

    /*矢印の設定*/
    /*戻る、次へ矢印の位置*/
    .prev

    .slick-prev { /*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
    }

    .slick-next { /*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg);
    }

    /* .slick-dots .slick-active button {
        background: #333;
    } */


    .prevContainer .prev,
    .nextContainer .next{
        color: black;
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .prevContainer{
        position: relative;
        display: inline;
        top: 150px;
        left: -18px;
    }

    .nextContainer{
        position: relative;
        display: inline;
        top: -141px;
        left: 500px;
    }