    /*==================================================
    スライダーのためのcss
    ===================================*/

    #SliderContainer > *{
        max-width: 510px;
        margin: 0 auto;
    }

    .slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
        width: 94%;
        margin: 20px auto 0 auto;
    }

    .slider{
        width: 60%; /*スライダー内の画像を横幅100%に*/
        height: auto;
        margin: 0 auto 0 auto;
        border-radius: 15px;
    }

    .slick-prev { /*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
        /* color: #333 !important; */
    }

    .slick-next { /*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg);
        /* color: #333 !important; */
    }


    /* ボタンの位置 */
    .prevContainer{
        position: relative;
        display: inline;
        top: 134px;
        left: 0px;
        z-index: 99;
    }

    .nextContainer{
        position: relative;
        display: inline;
        bottom: 134px;
        left: 475px;
    }


    .prevBtn,
    .nextBtn{
        width: 2em;
        height: 2em;
        cursor: pointer;
        background: transparent;
        border: none;
    }

    /* 矢印共通のスタイル */
    .prevBtn span:nth-child(1),
    .prevBtn span:nth-child(3),
    .nextBtn span:nth-child(1),
    .nextBtn span:nth-child(3){
        display: block;
        border: 3px #AAA solid;
        width: 14px;
        position: relative;
        border-radius: 6px;
        background-color: #AAA;
    }

    /* 戻るボタン 上辺調整 */
    .prevBtn span:nth-child(1){
        transform: rotate(135deg);
        left: -3px;
    }

    /* 戻るボタン 下辺調整 */
    .prevBtn span:nth-child(3){
        transform: rotate(45deg);
        left: -3px;
    }

    /* 次へボタン　上辺調整 */
    .nextBtn span:nth-child(1){
        transform: rotate(-135deg);
        left: -3px;
    }

    /* 次へボタン　下辺調整 */
    .nextBtn span:nth-child(3){
        transform: rotate(-45deg);
        left: -3px;
    }