.top_line{
  display: flex;
  height: 50%;
}
.bottom_line{
  display: flex;
  height: 50%;
}
#product_image{
  width: 200px;
  height: 200px;
}
.case_name{
  font-weight: bold;
  position: relative;
  left: 52px;
  bottom: 21px;
}
.case_category{
  position: relative;
  bottom: 35px;
  left: 52px;
  color:#888
}
.case_price{
  position: relative;
  bottom: 55px;
  left: 52px;
}