#wrapper {
    width: 100vw;
  }
  
  #back {
    font-weight: 700;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 22px;
    bottom: 115px;
    background: #666666;
    border-radius: 60px;
    box-shadow: -4px 9px 16px -5px rgba(0, 0, 0, 0.25);
  }
  
  #back p {
    font-weight: 700;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 23px;
    line-height: 77px;
    text-align: center;
    color: #FFFFFF;
  }
  
  #display_box {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    height: 98%;
    right: 30px;
  }
  
  #display_box #disp {
    position: absolute;
    width: 94%;
    height: 80%;
    left: 65px;
    bottom: 115px;
    background: #FFFFFF;
    border: 6px solid #666666;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    z-index: 99;
  }
  
  #service_select {
    box-sizing: border-box;
    position: absolute;
    width: 90%;
    height: 75px;
    right: 110px;
    bottom: 43px;
    text-align: center;
    font-weight: bold;
  }
  #service_select a {
    text-decoration: none;
    color: inherit;
    width: 125px;
    height: 47px;
    padding: 15px 0 0 0;
    display: inline-block;
  }
  
  #display_box #select {
    position: absolute;
    width: 12%;
    height: 56px;
    left: 10%;
    background: #666666;
    border: solid 5px #666;
    border-radius: 0px 0px 15px 15px;
    z-index: 999;
    color: #fff;
  }
  
  #display_box #btn1,
  #display_box #btn2,
  #display_box #btn3,
  #display_box #btn4,
  #display_box #btn5,
  #display_box #btn6 {
    position: absolute;
    width: 12%;
    height: 57px;
    left: 24%;
    background: #fff;
    border: solid 5px #666;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
  }
  
  #display_box #btn2 {
    left: 38%;
  }
  
  #display_box #btn3 {
    left: 52%;
  }
  
  #display_box #btn4 {
    left: 66%;
  }
  
  #display_box #btn5 {
    left: 80%;
  }
  
  #display_box #btn6 {
    left: 94%;
  }
  
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 999;
    display: none;
  }
  
  .modal {
    width: 60%;
    height: 90%;
    border: 1px solid #000;
    position: fixed;
    top: 5%;
    left: 20%;
    background: #fff;
    z-index: 999;
    display: none;
  }
  
  .modal .modal_product {
    width: 30vw;
    height: 90vh;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 40px;
  }
  
  .modal .modal_price {
    position: absolute;
    width: 204px;
    height: 38px;
    right: 15vw;
    top: 33vh;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #333333;
  }
  
  .modal .modal_name {
    position: absolute;
    height: 38px;
    right: 10vw;
    top: 15vh;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #333333;
  }
  
  .modal .modal_cancel {
    position: absolute;
    width: 31px;
    height: 45px;
    right: 2vw;
    top: 2vh;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    cursor: pointer;
  }
  
  .modal .count_down {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 27vw;
    top: 53vh;
    background: #2A2B2C;
    border-radius: 12px;
    color: white;
    z-index: 2;
  }
  
  .modal .count {
    position: absolute;
    width: 80px;
    height: 60px;
    right: 22.2vw;
    top: 53vh;
    background: #ECECEC;
    border-radius: 12px;
    color: #000;
    padding: 10px 36px;
    font-size: 27px;
  }
  
  .modal .count_up {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 18vw;
    top: 53vh;
    background: #2A2B2C;
    border-radius: 12px;
    color: white;
    z-index: 2;
    font-size: x-large;
  }
  
  
  body .menu {
    position: fixed;
    right: 45px;
    top: 8px;
    list-style: none;
  }
  
  body .menu li {
    color: #1a1b1c;
    display: inline-block;
    margin: 30px 20px 0 0;
  }
  
  body .menu li a {
    text-decoration: none;
    font-size: 18px;
    padding: 7px 25px;
    border: 1.5px solid #1a1b1c;
  }
  
  body .menu li a:hover {
    transition: 0.5s;
    border: 1.5px solid rgba(26, 27, 28, 0.4);
    background-color: #1a1b1c;
    color: #ffffff;
  }
  
  body .slide {
    display: flex;
    width: 50%;
    height: 90vh;
    overflow-y: hidden;
  }
  
  body .slide .product {
    width: 19.47vw;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    top: 15vw;
  }
  
  #product {
    width: 100vw;
    height: 500px;
    position: relative;
    top: 20px;
  }
  
  #product #firstline {
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
  }
  #product #firstline .productContainer {
    width: 227px;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #product #firstline .productContainer .product_name {
    font-weight: bold;
  }
  
  #product #secondline {
    left: 0px;
    top: 265px;
    display: flex;
    justify-items: flex-start;
  }
  #product #secondline .productContainer {
    width: 227px;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #product #secondline .product_name {
    font-weight: bold;
  }
  
  #product #firstline,
  #product #secondline {
    width: 100vw;
    position: absolute;
    white-space: nowrap;
    overflow-x: scroll;
  }
  
  #product #firstline img,
  #product #secondline img {
    width: 214px;
    left: 764px;
    top: 0px;
  }
  
  #product #firstline::-webkit-scrollbar,
  #product #secondline::-webkit-scrollbar {
    display: none;
  }
  
  .pay_select {
    position: relative;
    left: -65px;
    top: 180px;
  }
  
  #display_box #select {
    position: absolute;
    width: 12%;
    height: 57px;
    left: 24%;
    background: #666666;
    border: solid 5px #666;
    border-radius: 0px 0px 15px 15px;
    z-index: 50;
    color: #fff;
  }
  
  #display_box #btn1 {
    position: absolute;
    width: 12%;
    height: 57px;
    left: 10%;
    background: #fff;
    border: solid 5px #666;
    border-radius: 0px 0px 15px 15px;
    z-index: 1;
  }