.container {
  width: 100vw;
  height: 100vh;
}
.product_detail {
  padding: 0 30px;
}
.product_name_box {
  font-size: 1.2rem;
}
.product_name_box strong {
  display: block;
  margin: 0 0 10px 0;
  color: #333;
}
.product_name_box input {
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.22);
  border-radius: 7px;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
}
.product_open_box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 1.2rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.22);
  color: #333;

}
.product_info {
  padding: 15px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.22);
  
}
.product_record_box {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: #333;
    margin: 10px 0;
}
.product_record_box span {
  color: #777;
}
.button{
    margin: 13px 0;
}
