.container {
  width: 100vw;
  height: 100vh;
}
.help_container {
  background-color: #f6f6f6;
}
.title {
  padding: 20px 0 10px 20px;
  margin: 0;
  font-weight: 500;
}
.record {
    white-space: pre-wrap;
    color: #555;
}
.question_box {
  background-color: #fff;
  margin: 0;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question_box p {
  margin: 0;
  background-color: #fff;
}
.answer_box {
  background-color: #eee;
  margin: 0;
  overflow: hidden;
  height: 0px;
  border-width: 0.5px 0px;
  border-style: solid;
  border-color: #f8f8f8;
}
.answer_box p {
  background-color: #eee;
  margin: 20px;
}
.open{
    position: absolute;
    right: 20px;
}
