.container{
    width: 100vw;
    height:100vh;
}
.news_container{
    padding: 30px;
}
.title{
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
}
.date{
    color: #888;
    margin: 5px 0;
}
.value{
    white-space: pre-wrap;
    margin: 30px 0;
}