.container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  height:112vh;
}

.card {
  width: 90%;
  /* height: 27.3vh; */
  margin: 20px 0 10px 0;
  background-color: white;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding-top: 10px;
}
.card div{
    margin: 0 20px;
}

.card h3{
  margin: 5px 0 0 0;
  font-size: 18px;
}
.card p{
    margin: 12px 0 20px 0;
    color: #666666;
}