.container {
  width: 100vw;
  height: 112vh;
  margin: 0 0 25vh 0;
}
.info_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 8px;
}
.icon {
  width: 22vw;
  margin: 2.4vh 1vw 0px 0;
}
.edit {
  position: absolute;
  z-index: 2;
  top: 9vh;
  left: 30vw;
}
.text_info {
  width: 53%;
  position: relative;
  left: 5%;
}
.text_info h2 {
  margin: 25px 0 0 0;
  font-size: 1.3rem;
}
.text_info p {
  margin: 5px 0 20px 0;
  font-size: 0.9rem;
  padding: 0 20px 0 0px;
}
.btn_container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.spacer {
  margin: 0px 10px;
}
